@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --bg-color: #f4f7f8;
    --text-color: #2c3e50;
    --surface-color: #ffffff;
    --border-color: #e1e5ea;
    --primary-color: #6a5af9;
    --primay-glow: rgba(106, 90, 249, 0.4);
    --danger-color: #e74c3c;
    --danger-glow: rgba(231, 76, 60, 0.4);

    --shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    --transition-speed: 0.3s;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.top-bar {
    display: flex;
    align-items: center;
    gap: 40px;

}

h1 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
}

.toolbar {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;
}

.tool-group {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--surface-color);
    padding: 10px 20px;
    border-radius: 16px;
    box-shadow: var(--shadow);
    border: 1px solid var(--border-color);
    transition: background-color var(--transition-speed),
        border-color var(--transition-speed);
}

.tool {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.tool label {
    font-size: 14px;
    font-weight: 500;
}

/*Color button*/
input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 45px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid var(--border-color);
    border-radius: 50%;
    transition: border-color var(--transition-speed), transform 0.2s;
}

input[type="color"]:hover {
    transform: scale(1.1);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

/*Brush slider*/
.brush-slider {
    display: flex;
    align-items: center;
    gap: 15px;
}

#brushSizeValue {
    font-weight: 600;
    font-size: 16px;
    width: 45px;
    height: 45px;
    background-color: var(--bg-color);
    border-radius: 12px;
    display: grid;
    place-items: center;
    border: 1px solid var(--border-color);
    transition: background-color var(--transition-speed),
        border-color var(--transition-speed);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 150px;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: var(--border-color);
    height: 6px;
    border-radius: 3px;
    transition: background-color var(--transition-speed);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin-top: -7px;
    border-radius: 50%;
    background: var(--primary-color);
    border: 3px solid var(--surface-color);
    box-shadow: 0 0 10px var(--primary-glow);
    transition: background-color var(--transition-speed);
}

/*Button*/
.btn.btn-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 18px;
    border: 1px solid var(--border-color);
    background-color: var(--surface-color);
    color: var(--text-color);
    display: grid;
    place-items: center;
    transition: all 0.2s;
}

.btn.btn-icon:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(2, 1 ,1, 0.1);
}

#undoBtn:hover {
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0 0 15px var(--primary-glow);
}

.btn.btn-icon.btn-danger {
    color: var(--danger-color);
}

.btn.btn-icon.btn-danger:hover {
    background-color: var(--danger-color);
    color: white;
    box-shadow: 0 0 15px var(--danger-glow);
}